<section class="log-in-container">


    <form id="log-in-form">
        <p class="log-in-form-text"> Identifiez-vous pour accéder à votre compte </p>

        <div class="log-in-fields-container">
            <div class="log-in-input-container">
                <span class="material-icons">
                    email
                </span>
                <input type="email" placeholder="Email">
            </div>

            <div class="log-in-input-container">
                <span class="material-icons">
                    vpn_key
                </span>
                <input type="password" placeholder="Enter your password">
            </div>
        </div>

        <button> SE CONNECTER </button>

    </form>

    <div class="separator"></div>

    <div id="log-in-container-bottom">
        <p class="white underline"> Mot de passe oublié ?</p>

        <p class="white underline"> Créer mon compte </p>
    </div>
</section>