section{
    height: 93vh;
    width: 100vw;
    background-color:RGB(12, 24, 61);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.site-logo{
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/icons/android-icon-192x192.png);
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
}