section{
    height: 93vh;
    width: 100vw;
    background-image:url(https://external-preview.redd.it/9RUBSUmd_xhPODlTB-sX_VZ3SbumC3jV_FSLt72Bpsc.jpg?auto=webp&s=b388464ab748f29d340615d76989631ef6c37162);
    background-position: center; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.site-logo{
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/icons/android-icon-192x192.png);
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
}