<nav id="site-navbar">
    <div class='left'>
        <span class="material-icons white menu-burger">
            menu
        </span>


        <ul class="nav-links">
            <li routerLink=''>Accueil</li>
            <li [routerLink]='["auth"]' *ngIf='!isConnectedStatus()'>Connexion</li>

            <li [routerLink]='["profil"]' *ngIf='isConnectedStatus()'> Mon compte </li>
            <li *ngIf='isConnectedStatus()' (click)="disconnectUser()"> Déconnection </li>


        </ul>
    </div>

    <div class="right">
        <app-searchbar></app-searchbar>
        <a routerLink=''><img src="../../../assets/icons/android-icon-48x48.png"></a>
    </div>

</nav>