nav{
    background: RGB(61, 185, 237);
    /* width: 100vw; */
    height: 7vh;
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.material-icons{
    font-size: 6vh;
}

.menu-burger{
    margin-left: 10px;
    font-size: 20px;
}

app-searchbar{
    margin-right: 5px;
}

.left, .right{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.right{
    margin-right: 10px;
}

.nav-links{
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.nav-links li{
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
}
