#searchbar{
    border-radius: 10px;
    border: #0000005c solid 1px;
    padding-left: 5px;
    background-color: white;
    height: 1.5em;
    width: 20vw;
    transition: 0.3s ease-in-out;
}

#searchbar:focus{
   outline: none;
   border: #526365 solid 1px;
}