

<section id='admin-form-container'>

    <form id="admin-form" [formGroup]="adminForm">
        <p class="admin-form-text"> OPIBUS - Admin  </p>

        <div class="admin-fields-container">
            <div class="admin-input-container">
                <span class="material-icons">
                    email
                </span>
                <input type="email" placeholder="Email" formControlName="email">
                <div class="errors-messages-container">
                    <p *ngIf='adminForm.controls.email.invalid && submitted'> Veuillez saisir votre email de connexion
                    </p>
                </div>
            </div>

            <div class="admin-input-container">
                <span class="material-icons">
                    vpn_key
                </span>
                <input type="password" placeholder="Enter your password" formControlName="password">
                <div class="errors-messages-container">
                    <p *ngIf='adminForm.controls.password.invalid && submitted'> Veuillez saisir votre mot de passe</p>
                </div>
            </div>
        </div>
        
        <button type="submit" id="admin-form-submit-btn" (click)="onSubmit()"
            [disabled]="adminForm.controls.email.pristine || adminForm.controls.password.pristine"> SE CONNECTER
        </button>

    </form>

    <div class="separator"></div>

    <div id="admin-container-bottom">
        <p class="white underline"> Mot de passe oublié ?</p>
    </div>
</section>