<section>
    <div class="my-profil-container">
        
        <div class="my-profil-basics-container">
            <div class="profil-picture" (click)="changeAvatarPicture()"></div>
            <input id="input-update-image" type="file" (change)="handleFileInput($event.target.files)">

            <div class="profil-name-params-container">
                <h2 *ngIf='!changeNameStatus()' id="profil-name-container" (click)="openChangeNameModal()"> Koala Trempé </h2>
                <app-change-name *ngIf='changeNameStatus()'></app-change-name>
            </div>

        </div>

        <h3> Mes cercles </h3>
        <h3> Mes publications </h3>

    </div>
</section>