<div id="admin-sidebar" [ngClass]=" adminSidebarStatus() ? 'open' : 'close' ">
    <span id="admin-sidebar-close" class="material-icons" (click)="closeSidebar()">
        close
        </span>

    <ul class="sidebar-list">
        <li (click)="switchAdminTab('users')"> Utilisateurs </li>
        <li (click)="switchAdminTab('publications')"> Publications </li>
    </ul>
</div>

<div id="admin-sidebar-open" (click)="openSidebar()">
    <span class="material-icons">
        menu
        </span>
</div>