<section>
    <div id='your-comment' class="comment">
        <img [src]="currentUser.avatar" class="avatar">
      
        <input type="text" placeholder="Entrez votre message" (keyup.enter)='onEnterPress()' #messageBox>

        <div class="add-media-container">

          <div class="add-media-btn">
          <span class="material-icons">
            add
            </span>
          </div>
        </div>

    </div>

    <div *ngFor="let comment of commentsArray" class="comment">
        {{comment.text}}
    </div>
</section>
