.comment{
    width: 70vw;
    min-height: 5vh;
    background-color: RGB(62, 185, 237);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 15px;
}

section{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#your-comment{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#your-comment input{
    border: none;
    border-radius: 10px;
    padding: 3px 0 3px 5px;
    width: 90%;
    height: 7vh;
}


.avatar{
  height:10vh;
  width: 10vh;
  border-radius: 50%;
  margin-right: 15px;
}

.add-media-container{
  width: 100%;
}

.add-media-btn{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
