<div>
    <h2> Liste des utilisateurs </h2>

    <table datatable [dtOptions]="{language: {url : '//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'} }" class="row-border hover white">
        <thead>
          <tr>
            <th width="100">ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th width='10'></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList" class="background-black">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td> Modifier </td>
          </tr>
        </tbody>
          
    </table>

</div>